@{
    ViewData["Title"] = "Lab 02";
    IEnumerable<string> strList = new List<string> { "Lovecraft", "Juan", "Pedro", "JOhn" };
    IEnumerable<string> strList2 = new List<string> { "Acción", "Comedia", "Drama", "Manga" };
}
<form asp-action="EliminarLibro">
    <div class="text-center">
        <nav class="navbar navbar-dark bg-primary ">
            <div>
                <div class="card-body justify-content-center">
                    <img src="640px-UNICAES_Logo.png" >
                    <h5 class="fw-bold" style="font-size: 15px; color: white">Creación de Libros</h5>
                </div>
            </div>
        </nav>
    </div>
    <section>
        <div class="form-group row mb-2">
            <div class="col-sm-2">
                <label>Nombre del libro</label>
            </div>
            <div class="col-sm-4">
                @Html.TextBox("nombre","", new{@class="form-control"})
            </div>
            <div class="col-sm-2">
                @Html.Label("lblDescripcion", "Descripción")
            </div>
            <div class="col-sm-4">
                @Html.TextArea("descripcion", "", new { @class = "form-control", @placeHolder = "Ingrese la descripción" })
            </div>
            <div class="col-sm-2">
                <label>Precio</label>
            </div>
            <div class="col-sm-4">
                @Html.TextBox("precio", "", new { @class = "form-control" })
            </div>
            <div class="col-sm-2">
                <label>Autor</label>
            </div>
            <div class="col-sm-4">
                @Html.DropDownList("ddlAutor", new SelectList(strList,
                         strList.FirstOrDefault()), "--Seleccionar Autor ----")
            </div>
            <div class="col-sm-2">
                <label>Categoria o Genero</label>
            </div>
            <div class="col-sm-4">
                @Html.DropDownList("ddlGenero", new SelectList(strList2,
                         strList.FirstOrDefault()), "--Seleccionar Genero ----")
            </div>
        </div>
    </section>

    <section>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre del libro</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Autor</th>
                    <th>Categoria</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var libro in (IEnumerable<dynamic>)ViewData["listLibros"])
                {
                    <tr>
                        <td>@libro.nombre</td>
                        <td>@libro.descripcion</td>
                        <td>@libro.precio</td>
                        <td>@libro.id_autor</td>
                        <td>@libro.id_categoria</td>
                        <td><input type="button" class="btn btn-danger" value="Eliminar" /></td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
    <footer>
        <div class="navbar navbar-dark bg-primary text-center text-justify-center">
            <a style="color: white;">2021-GH-601 - Fernando Ulises Gómez Herrera</a>
            <a style="color: white;">2021-BS-650 - Diego Alejandro Burgos Servellón</a>
        </div>
    </footer>
</form>
